
.cart{
    display: flex;
    gap: 1rem;
    align-items: center;
    i{
        font-size: 3rem;
    }
    p{
        color: #fff;
        font-size: 3rem;
    }
    span{
        &:hover{
            scale: 1.1;
            cursor: pointer;
        }
    }
}